<style>
    .matrix {
        margin: 0 auto;
        padding: 5px;
    }

    .matrix tr,
    td {
        padding: 5px;
    }

    .matrix div {
        height: 100px;
        width: 210px;
        font-family: helvetica;
        font-weight: bold;
    }
    .label-btn{
        font-size: 22px;
    }
</style>
<div class="row">
    <div class="col-md-7 col-lg-7 col-sm-7">
        <div class="row">
            <div class="table-responsive">
                <table class="table m-0">
                    <tbody>
                        <tr id="fila-orden-fabricacion">
                            <th class="black text-white"><span class="label-btn">Orden Fabricación</span></th>
                            <td ><span id="celda-orden-fabricacion" class="label-btn"></span></td>
                        </tr>
                        <tr id="fila-cantidad-pendiente">
                            <th class="black text-white"><span class="label-btn">Cantidad pendiente</span></th>
                            <td ><span id="celda-cantidad-pendiente" class="label-btn"></span></td>

                        </tr>
                        <tr id="fila-cantidad-pendiente-tarea">
                            <th class="black text-white"><span class="label-btn">Cantidad pendiente tarea</span></th>
                            <td ><span id="celda-cantidad-pendiente-tarea" class="label-btn"></span></td>
                        </tr>
                        <tr id="fila-codigo-articulo">
                            <th class="black text-white"><span class="label-btn">Código artículo</span></th>
                            <td ><span  id="celda-codigo-articulo" class="label-btn"></span></td>

                        </tr>
                        <tr id="fila-modelo">
                            <th class="black text-white"><span class="label-btn">Modelo</span></th>
                            <td ><span id="celda-modelo" class="label-btn"></span></td>
                        </tr>
                        <tr id="fila-cliente">
                            <th class="black text-white"><span class="label-btn">Cliente</span></th>
                            <td ><span id="celda-cliente" class="label-btn"></span></td>

                        </tr>
                        <tr id="fila-utillaje">
                            <th class="black text-white"><span class="label-btn">Utillaje</span></th>
                            <td ><span id="celda-utillaje" class="label-btn"></span></td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">

        </div>

    </div>
    <div class="col-md-5 col-lg-5 col-sm-5">
        <table id="tabla-acciones" class="matrix">
            <tr>
                <td>
                    <div class="btn btn-lg btn-success"><span class="label-btn">TERMINAR</span></div>
                </td>
                <td>
                    <div class="btn btn-lg btn-primary"><span class="label-btn">PAUSAR</span></div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/tarea/main.js"></script>
