<style>
    .matrix {
        margin: 0 auto;
        padding: 5px;
    }

    .matrix tr,
    td {
        padding: 5px;
    }

    .matrix div {
        height: 100px;
        width: 195px;
        font-family: helvetica;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="row">
            <div class="table-responsive">
                <table class="table m-0">
                    <tbody>
                        <tr id="fila-orden-fabricacion">
                            <th class="black text-white">Orden Fabricación</th>

                        </tr>
                        <tr id="fila-cantidad-pendiente">
                            <th class="black text-white">Cantidad pendiente</th>

                        </tr>
                        <tr id="fila-cantidad-pendiente-tarea">
                            <th class="black text-white">Cantidad pendiente tarea</th>

                        </tr>
                        <tr id="fila-codigo-articulo">
                            <th class="black text-white">Código artículo</th>

                        </tr>
                        <tr id="fila-modelo">
                            <th class="black text-white">Modelo</th>

                        </tr>
                        <tr id="fila-cliente">
                            <th class="black text-white">Cliente</th>


                        </tr>
                        <tr id="fila-utillaje">
                            <th class="black text-white">Utillaje</th>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">

        </div>

    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        <table id="tabla-acciones" class="matrix">
            <tr>
                <td>
                    <div class="btn btn-lg btn-success">TERMINAR</div>
                </td>
                <td>
                    <div class="btn btn-lg btn-primary">PAUSAR</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/tarea/main.js"></script>
