<div class="row">
    <div class="col-md-6 col-sm-6">
        <h2>TIPO DE AVERÍA</h2>
        <!-- Group of material radios - option 1 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample1" name="groupOfMaterialRadios">
            <label class="form-check-label" for="materialGroupExample1">Option 1</label>
        </div>

        <!-- Group of material radios - option 2 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios"
                checked>
            <label class="form-check-label" for="materialGroupExample2">option 2</label>
        </div>

        <!-- Group of material radios - option 3 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample3" name="groupOfMaterialRadios">
            <label class="form-check-label" for="materialGroupExample3">option 3</label>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <h2>URGENCIA</h2>

        <!-- Group of material radios - option 1 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample1" name="groupOfMaterialRadios">
            <label class="form-check-label" for="materialGroupExample1">BAJA</label>
        </div>

        <!-- Group of material radios - option 2 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios"
                checked>
            <label class="form-check-label" for="materialGroupExample2">MEDIA</label>
        </div>
        
        <!-- Group of material radios - option 3 -->
        <div class="form-check">
            <input type="radio" class="form-check-input" id="materialGroupExample3" name="groupOfMaterialRadios">
            <label class="form-check-label" for="materialGroupExample3">ALTA</label>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6 col-sm-4 col-lg-4">
        <div></div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 ">
        <button class="btn btn-success">AVISAR</button>
    </div>
</div>
</div>