<div class="row">
    <div class="md-form md-outline timepicker" default="now">
        <input type="text" id="manualOperations" class="form-control" placeholder="Select time">
        <i class="fas fa-envelope  input-prefix"></i>
    </div>
</div>