<style>
    #matrix {
        margin: 0 auto;
        padding: 5px;
    }

    #matrix tr,
    td {
        padding: 5px;
    }

    #matrix div {
        height: 100px;
        width: 200px;
        font-family: helvetica;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="card chart-card">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title font-weight-bold">Resumen diario</h4>
                <!-- Text -->
                <p class="card-text">Ultimas 24 horas</p>
                <div class="d-flex justify-content-between">
                    <p class="display-4 align-self-end">887.32</p>
                    <p class="align-self-end">887.02 (.03%)</p>
                </div>

            </div>



        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
        <table id="matrix">
            <tr>
                <td>
                    <div id="btn-comenzar-tarea"class="btn btn-primary btn-lg">
                        <span>COMENZAR TAREA</span>
                    </div>
                </td>
                <td>
                    <div id="btn-fichajes" class="btn btn-primary btn-lg">
                        <span>FICHAJES</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                     <div id="btn-fichajes" class="btn btn-primary btn-lg" onclick="window.location.href='/dashboard/maquinas'">
                        <span>MÁQUINAS</span>
                    </div>
                </td>
                <td>
                    <div class="btn btn-primary" id="b3">
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="btn btn-primary" id="b3">
                        <span></span>
                    </div>
                </td>
                <td>
                    <div class="btn btn-primary" id="b3">
                        <span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="btn btn-primary" id="b3">
                        <span></span>
                    </div>
                </td>
                <td>
                    <div class="btn btn-primary" id="b3">
                        <span></span>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

<script src="/js/home/main.js"></script>

<!-- Card -->
<!--script>
    // Line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
            labels: ["8 AM", "10 AM", "12 PM", "2 PM", "4 PM", "6 PM", "8 PM"],
            datasets: [
                {
                    fill: false,
                    borderColor: "#673ab7",
                    pointBackgroundColor: "#673ab7",
                    data: [885, 884, 887, 883, 888, 889, 888]
                }
            ]
        },
        options: {
            responsive: false,
            legend: {
                display: false
            },
            elements: {
                line: {
                    tension: 0.0
                }
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    },
                    ticks: {
                        padding: 15,
                        height: 30
                    }
                }],
                yAxes: [{
                    gridLines: {
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 15,
                        min: 880,
                        max: 890
                    }
                }]
            }
        }
    });
</script-->