<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 1</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-fullscreen icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 2</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 3</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 4</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-fullscreen icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 5</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 6</h5>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 7</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-fullscreen icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 8</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>ACCIÓN 9</h5>
            </div>
        </div>
    </div>
</div>