<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 1</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-fullscreen icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 2</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 3</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-tint icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 4</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-thumbs-up icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 5</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-knight icon-big" aria-hidden="true"></span>
            <h3>ACCION 6</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-console icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 7</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-object-align-vertical icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 8</h3>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-text-background icon-big" aria-hidden="true"></span>
            <h3>ACCIÓN 9</h3>
        </div>
    </div>
</div>