<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-play-circle icon-big" aria-hidden="true"></span>
                <h5>COMENZAR</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <a href="/logout">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <span class="glyphicon glyphicon-off icon-big" aria-hidden="true"></span>
                    <h5>SALIR</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-phone icon-big" aria-hidden="true"></span>
                <h5>-</h5>
            </div>
        </div>
    </div>
</div>