<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre puesto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del puesto">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Sección</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Máquina</label>
    <select class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripción</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>