<link href="/css/steppers.min.css" rel="stylesheet">
<link href="/css/keyboard.css" rel="stylesheet">
<script src="/js/steppers.min.js"></script>
<script src="/js/keyboard.js"></script>
<script src="/js/material-select.min.js"></script>


<ul class="stepper linear">
  <li class="step active">
    <div data-step-label="Sección y máquina" class="step-title waves-effect waves-dark">Paso 1 - General</div>
    <div class="step-new-content">
      <div class="row">
        <div class="md-form col-6 ml-auto">
          <!--Secciones select-->
          <select id="select-secciones" class="mdb-select md-form colorful-select dropdown-primary">
            {{#each secciones}}
            <option value="{{this.CodSeccion}}">{{this.Nombre}}</option>
            {{/each}}
          </select>
          <label class="mdb-main-label">Sección</label>
          <!--/Secciones select-->
        </div>

        <div class="md-form col-6 ml-auto">
          <!--Maquinas select-->
          <select id="select-maquinas" class="mdb-select md-form colorful-select dropdown-primary">
            <!--> Fetch maquinas despues de seleccionar seccion <-->
          </select>
          <label class="mdb-main-label">Máquina</label>
          <!--/Blue select-->
        </div>
      </div>

      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">SIGUIENTE</button>
      </div>
    </div>
  </li>
  <li class="step">
    <div class="step-title waves-effect waves-dark">Paso 2 - Máquina</div>
    <div class="step-new-content">
      <div class="row">
        <div class="md-form col-6 ml-auto">
          <div class="d-flex justify-content-center my-4">
            <div class="range-field w-75">
              <input id="input-ritmo-ideal" class="border-0" type="range" min="0" max="9999" />
            </div>
            <label class="mdb-main-label">Ritmo ideal</label>
            <span id="label-ritmo-ideal" class="font-weight-bold text-primary ml-2 mt-1"></span>
          </div>
        </div>
        <div class="md-form col-6 ml-auto">
          <div class="d-flex justify-content-center my-4">
            <form class="range-field w-75">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1"></span>
          </div>
        </div>
      </div>
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">SIGUIENTE</button>
        <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">ATRÁS</button>
      </div>
    </div>
  </li>
  <li class="step">
    <div class="step-title waves-effect waves-dark">Paso 3 - Guardar</div>
    <div class="step-new-content">
      Configuración finalizada
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary m-0 mt-4" type="button">ENVIAR</button>
      </div>
    </div>
  </li>
</ul>

<script src="/js/settings/main.js"></script>