<div class="row">
    <div class="col1 col-md-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input id="orden-input" type="text" class="form-control" name="orden" placeholder="Escanear etiqueta">
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">OF000024</th>
                        <td id="codigo-input">MASPICA SA</td>
                        <td id="codigo-input">
                            <div class="progress md-progress" style="height: 20px; background-color:white;">
                                <div class="progress-bar" role="progressbar" style="width: 90%; height: 20px"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">OF000024</th>
                        <td id="codigo-input">MASPICA SA</td>
                        <td id="codigo-input">
                            <div class="progress md-progress" style="height: 20px; background-color:white;">
                                <div class="progress-bar" role="progressbar" style="width: 26%; height: 20px"
                                    aria-valuenow="26" aria-valuemin="0" aria-valuemax="100">26%</div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">OF000024</th>
                        <td id="codigo-input">MASPICA SA</td>
                        <td id="codigo-input">
                            <div class="progress md-progress" style="height: 20px; background-color:white;">
                                <div class="progress-bar" role="progressbar" style="width: 15%; height: 20px"
                                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                            </div>
                        </td>

                    </tr>
                                        <tr>
                        <th scope="row">OF000024</th>
                        <td id="codigo-input">MASPICA SA</td>
                        <td id="codigo-input">
                            <div class="progress md-progress" style="height: 20px; background-color:white;">
                                <div class="progress-bar" role="progressbar" style="width: 15%; height: 20px"
                                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                            </div>
                        </td>

                    </tr>
                                        <tr>
                        <th scope="row">OF000024</th>
                        <td id="codigo-input">MASPICA SA</td>
                        <td id="codigo-input">
                            <div class="progress md-progress" style="height: 20px; background-color:white;">
                                <div class="progress-bar" role="progressbar" style="width: 15%; height: 20px"
                                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<style>
    .col1 {
        height: 300px;
    }

    .col2 {
        height: 300px;
    }

    .barcode-scanner {
        height: 30px;

    }

    .input-barcode-wrapper {
        padding: 0px;
    }

    .input-barcode {
        width: 100%;
        height: 100%;
        font-size: large;
    }

    td {
        font-size: 16px;
    }


    .btn-glyphicon {
        padding: 8px;
        background-color: #0275d8;
        color: white;
        margin-right: 4px;
    }
</style>

<script>
    const ordenInput = document.getElementById('orden-input')
    console.log(ordenInput)
    ordenInput.addEventListener('keyup', () => {
        const texto = ordenInput.value
        if (texto.length == 13) {
            buscarOrdenFabricacion(texto)
        }
    })

    setInterval(() => {
        ordenInput.focus();
    }, 1000)



    function buscarOrdenFabricacion(id) {
        ordenInput.value = ''
        for (const letra of id) {
            if (letra === '0') {
                id = id.substring(1, id.length)
            }
            else { break }
        }

        id = id.substring(0, id.length - 1)

        fetch(`/dashboard/buscarOperacion/${id}/080`)
            .then(resp => { return resp.json() })
            .then(res => cargarInformacion(res))
            .catch(err => console.log(err))
    }

    function cargarInformacion(datos) {
        let operacion = {}
        if (datos) {
            if (datos.length > 0) {
                operacion = datos[0]
            }
        }
        console.log(datos)

        document.querySelector('#codigo-input').innerHTML = operacion.Codigo
        document.querySelector('#cliente-input').innerHTML = operacion.NOMBRECLI
        document.querySelector('#modelo-input').innerHTML = operacion.DESCRIPCIONARTICULO
        document.querySelector('#utillaje-input').innerHTML = operacion.CodUtillaje
        document.querySelector('#descripcion-input').innerHTML = operacion.Descripcion

    }
</script>