<div class="row">
    <div class="col1 col-md-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input id="etiqueta-input" type="text" class="form-control" name="etiqueta"
                    placeholder="Escanear etiqueta">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <table class="table table-bordered">
                    <tbody id="body-tabla-1">

                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="row">
                    <h5>Progreso...</h5>
                    <div class="progress md-progress" style="height: 40px; background-color:red;">
                        <div class="progress-bar" role="progressbar" style="width: 0%; height: 40px" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100"><span class="progreso-porcentaje">0 %</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="stati bg-emerald left">
                            <i class="fas fa-shoe-prints"></i>
                            <div>
                                <b id="num-pares">0</b>
                                <h5>Pares</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="stati bg-emerald left">
                            <i class="fas fa-box-open"></i>
                            <div>
                                <b id="num-cajas">0</b>
                                <h5>Cajas</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="stati bg-belize_hole left">
                            <i class="fas fa-box-open"></i>
                            <div>
                                <b id="num-cajas">0</b>
                                <h5>Cajas</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="stati bg-belize_hole left">
                            <i class="fas fa-chart-bar"></i>
                            <div>
                                <b id="num-pares">0</b>
                                <h5>Ritmo p/h</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .progreso-porcentaje {
        font-size: 25px;
        color: white;
        margin-left: 2px;
        font-weight: bold;
    }

    .col1 {
        height: 300px;
    }

    .col2 {
        height: 300px;
    }

    .barcode-scanner {
        height: 30px;
    }

    .input-barcode-wrapper {
        padding: 0px;
    }

    .input-barcode {
        width: 100%;
        height: 100%;
        font-size: large;
    }

    td {
        font-size: 16px;
    }

    .btn-glyphicon {
        padding: 8px;
        background-color: #0275d8;
        color: white;
        margin-right: 4px;
    }

    p {
        color: white;
    }


    .stati {
        background: #fff;
        height: 6em;
        padding: 1em;
        margin: 1em 0;
        -webkit-transition: margin 0.5s ease, box-shadow 0.5s ease;
        /* Safari */
        transition: margin 0.5s ease, box-shadow 0.5s ease;
        -moz-box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.8);
        box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.8);
    }

    .stati:hover {
        margin-top: 0.5em;
        -moz-box-shadow: 0px 0.4em 0.5em rgb(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 0.4em 0.5em rgb(0, 0, 0, 0.8);
        box-shadow: 0px 0.4em 0.5em rgb(0, 0, 0, 0.8);
    }

    .stati i {
        font-size: 2.8em;
    }

    .stati div {
        width: calc(100% - 3.5em);
        display: block;
        float: right;
        text-align: right;
    }

    .stati div b {
        font-size: 2.2em;
        width: 100%;
        padding-top: 0px;
        margin-top: -0.2em;
        margin-bottom: -0.2em;
        display: block;
    }

    .stati div span {
        font-size: 1em;
        width: 100%;
        color: rgb(0, 0, 0, 0.8);
         !important;
        display: block;
    }

    .stati.left div {
        float: left;
        text-align: left;
    }



    .stati.bg-emerald {
        background: rgb(46, 204, 113);
        color: white;
    }

    .stati.bg-belize_hole {
        background: rgb(41, 128, 185);
        color: white;
    }

    .stati.belize_hole {
        color: rgb(41, 128, 185);
    }

    .stati.emerald {
        color: rgb(46, 204, 113);
    }

    td {
        background-color: white;
    }

    .celda {
        font-weight: bold;
    }
</style>

<script>
    const store = {
        prepaquetes: [],
    }

    const bodyTabla1 = document.getElementById('body-tabla-1')
    const ordenInput = document.getElementById('etiqueta-input')
    const progress = document.querySelector('.progress-bar')
    const progressPercent = document.querySelector('.progreso-porcentaje')
    const numCajas = document.getElementById('num-cajas')
    const numPares = document.getElementById('num-pares')


    ordenInput.addEventListener('keyup', () => {
        const texto = ordenInput.value
        if (texto.length >= 13) {
            buscarPrepaquete(texto)
        }
    })

    setInterval(() => {
        ordenInput.focus();
    }, 1000)

    function buscarPrepaquete(cod) {
        ordenInput.value = ''
        fetch(`/dashboard/task/buscarPrepaquete/${cod}/080`)
            .then(resp => { return resp.json() })
            .then(res => cargarInformacion(res))
            .catch(err => console.log(err))
    }

    function cargarPrepaquetesEnTabla() {
        bodyTabla1.innerHTML = ''
        let elementos = []
        for (const prepaquete of store.prepaquetes) {
            let ofExistente = elementos.find(e => e.Codigo === prepaquete.Codigo)
            if (!ofExistente) {
                elementos.push({ Codigo: prepaquete.Codigo, NOMBRECLI: prepaquete.NOMBRECLI, Cantidad: prepaquete.Cantidad })
            }
            else {
                ofExistente.Cantidad += prepaquete.Cantidad
            }
        }

        for (const elemento of elementos) {
            bodyTabla1.innerHTML += `
                <tr>
                    <td scope="row"><span class="celda">${elemento.Codigo}</span></td>
                    <td id="codigo-input"><span class="celda">${elemento.NOMBRECLI}</span></td>
                    <td id="codigo-input"><span class="celda">${elemento.Cantidad}</span></td>
                </tr>
                `
        }

        cargarEstadisticas()
    }

    function cargarEstadisticas() {
        let cantidadFabricada = 30
        let cantidadTotal = 0
        let codigos = []
        for (const prepaquete of store.prepaquetes) {
            console.log(codigos)
            cantidadTotal += prepaquete.Cantidad
            if (prepaquete.CodigoAgrupacion === null) {
                codigos.push(prepaquete.CodigoEtiqueta)
            }
            else {
                if (!codigos.includes(prepaquete.CodigoAgrupacion)) {
                    codigos.push(prepaquete.CodigoAgrupacion)
                }
            }
        }

        porcentaje = (cantidadFabricada / cantidadTotal * 100).toFixed(0);
        progress.style.width = `${porcentaje}%`
        progressPercent.innerHTML = `${porcentaje}%`
        numCajas.innerHTML = codigos.length
        numPares.innerHTML = cantidadTotal
    }

    function cargarInformacion(datos) {
        if (datos) {
            let talla = ''
            if (store.prepaquetes.length > 0) {
                talla = store.prepaquetes[0].Talla
            }

            for (const dato of datos) {
                if (talla === '' || dato.Talla === talla) {
                    const existente = store.prepaquetes.find(p => p.CodigoEtiqueta === dato.CodigoEtiqueta)
                    if (!existente) {
                        store.prepaquetes.push(dato)
                        talla = dato.Talla
                    }
                    else {
                        alert('Prepaquete repetido')
                    }
                }
                else {
                    alert(`Talla incompatible ${dato.Talla} ${talla}`)
                }

            }
            cargarPrepaquetesEnTabla()
        }
    }
</script>