<div class="row">
    <div class="col1 col-md-4 col-lg-4 col-sm-4">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input id="orden-input" type="text" class="form-control" name="orden" placeholder="Escanear orden">
            </div>
        </div>
        <div class="row">
            <span>Orden Fabricación</span>
            <input type="text" disabled />
        </div>
        <div class="row">
            <span>Cliente</span>
            <input type="text" disabled />
        </div>
        <div class="row">
            <span>Modelo</span>
            <input type="text" disabled />
        </div>
    </div>

    <div class="col2 col-md-8 col-lg-8 col-sm-8">

    </div>
</div>

<style>
    .col1 {
        height: 300px;

    }

    .col2 {
        height: 300px;


    }


    .barcode-scanner {
        height: 30px;

    }

    .input-barcode-wrapper {
        padding: 0px;
    }

    .input-barcode {
        width: 100%;
        height: 100%;
        font-size: large;
    }
</style>

<script>
    const ordenInput = document.getElementById('orden-input')
    console.log(ordenInput)
    ordenInput.addEventListener('keyup', () => {
        const texto = ordenInput.value
        if (texto.length == 13) {
            buscarOrdenFabricacion(texto)
        }
    })

    setInterval(() => {
        ordenInput.focus();
    }, 1000)



    function buscarOrdenFabricacion(id) {
        ordenInput.value = ''
        for(const letra of id){
            console.log(letra)
            if(letra === '0'){
                console.log('quitar')
                id = id.substring(1,id.length)
                console.log(id)
            }
            else{break}
        }

        id = id.substring(0,id.length-1)

        console.log('asi ha quedado')
        console.log(id)

        /*fetch(`/dashboard/buscarOrden/${id}`)
        .then(resp => {return resp.json()})
        .then(res =>console.log(res))
        .catch(err=>console.log(err))*/
    }
</script>