<div class="row">
    <div class="col1 col-md-6 col-lg-6 col-sm-6">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input id="orden-input" type="text" class="form-control" name="orden" placeholder="Escanear orden">
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ORDEN</th>
                        <td id="codigo-input"></td>
                    </tr>
                    <tr>
                        <th scope="row">CLIENTE</th>
                        <td id="cliente-input"></td>
                    </tr>
                    <tr>
                        <th scope="row">MODELO</th>
                        <td id="modelo-input"></td>
                    </tr>
                    <tr>
                        <th scope="row">UTILLAJE</th>
                        <td id="utillaje-input"></td>
                    </tr>
                    <tr>
                        <th scope="row">Descripcion</th>
                        <td id="descripcion-input"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="col2 col-md-6 col-lg-6 col-sm-6">
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-info h-100">
                    <div class="card-block">
                        <div>Pares completados...</div>
                        <div class="progress my-3">
                            <div class="progress-bar" style="width: 30%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" id="feature-content">
                        <span class="glyphicon btn-glyphicon glyphicon-cog img-circle text-warning"></span>
                        200 p/h ritmo ideal
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" id="feature-content">
                        <span class="glyphicon btn-glyphicon glyphicon-cog img-circle text-warning"></span>
                        198 p/h ritmo real
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" id="feature-content">
                        <span class="glyphicon btn-glyphicon glyphicon-cog img-circle text-warning"></span>
                        2 rechazos
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .col1 {
        height: 300px;
    }

    .col2 {
        height: 300px;
    }

    .barcode-scanner {
        height: 30px;

    }

    .input-barcode-wrapper {
        padding: 0px;
    }

    .input-barcode {
        width: 100%;
        height: 100%;
        font-size: large;
    }

    td {
        font-size: 16px;
    }


    .btn-glyphicon {
        padding: 8px;
        background-color: #0275d8;
        color: white;
        margin-right: 4px;
    }
</style>

<script>
    const ordenInput = document.getElementById('orden-input')
    console.log(ordenInput)
    ordenInput.addEventListener('keyup', () => {
        const texto = ordenInput.value
        if (texto.length == 13) {
            buscarOrdenFabricacion(texto)
        }
    })

    setInterval(() => {
        ordenInput.focus();
    }, 1000)



    function buscarOrdenFabricacion(id) {
        ordenInput.value = ''
        for (const letra of id) {
            if (letra === '0') {
                id = id.substring(1, id.length)
            }
            else { break }
        }

        id = id.substring(0, id.length - 1)

        fetch(`/dashboard/buscarOperacion/${id}/080`)
            .then(resp => { return resp.json() })
            .then(res => cargarInformacion(res))
            .catch(err => console.log(err))
    }

    function cargarInformacion(datos) {
        let operacion = {}
        if (datos) {
            if (datos.length > 0) {
                operacion = datos[0]
            }
        }
        console.log(datos)

        document.querySelector('#codigo-input').innerHTML = operacion.Codigo
        document.querySelector('#cliente-input').innerHTML = operacion.NOMBRECLI
        document.querySelector('#modelo-input').innerHTML = operacion.DESCRIPCIONARTICULO
        document.querySelector('#utillaje-input').innerHTML = operacion.CodUtillaje
        document.querySelector('#descripcion-input').innerHTML = operacion.Descripcion

    }
</script>