<div class="modal fade" id="modal-multi-operacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center" id="myModalLabel">Selecciona la operación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body-multi-operacion" class="modal-body w-200 text-center">
                

            </div>
            <div class="modal-footer  w-100 text-center">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">CANCELAR</button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>