<div id="panel-central">
    <div class="row">
        <div class="col-md-4">
            <!-- Panel info principal tareas -->
            <div id="info-tarea" class="box btn color-white" style="width: 256px; height: 212px;">

            </div>
            <!-- Panel info principal tareas -->
        </div>

        <div class="col-md-4">
            <!-- Panel contador principal-->
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="w-full md:w-1/3 px-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase mb-0">CONTADOR PRINCIPAL</h5>
                                <span id="contador-principal" class="h2 font-weight-bold mb-0">0</span>
                                <span id="sumador-principal" class="d-none h2"><i class="fa fa-arrow-up"></i>
                                    0</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                    <i class="fas fa-wave-square"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a id="btn-restar-principal" class="btn-floating btn-lg btn-default"><i
                                        class="fas fa-minus"></i></a>
                            </div>
                            <div class="col-md-6">
                                <a id="btn-sumar-principal" class="btn-floating btn-lg btn-default"><i
                                        class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel contador principal-->
        </div>

        <div class="col-md-4">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase  mb-0">CONTADOR SALDOS</h5>
                            <span id="contador-saldos" class="h2 font-weight-bold mb-0">0</span>
                            <span id="sumador-saldos" class="d-none h2 text-success"><i class="fa fa-arrow-up"></i>
                                0</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                <i class="fas fa-percent"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a id="btn-restar-saldos" class="btn-floating btn-lg btn-default"><i
                                    class="fas fa-minus"></i></a>
                        </div>
                        <div class="col-md-6">
                            <a id="btn-sumar-saldos" class="btn-floating btn-lg btn-default"><i
                                    class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div id="btn-terminar-tarea" class="box btn btn-success" style="width: 256px; height: 212px; color: black;">
                <p>TERMINAR</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box btn btn-warning" style="width: 256px; height: 212px; color:black;" data-toggle="modal"
                data-target="#modalIncidencias">
                <p>INCIDENCIA</p>
            </div>

        </div>

        <div class="col-md-4">
            <div id="card-contador-paquetes" class="card card-stats mb-4 mb-xl-0">
                <div class="w-full md:w-1/3 px-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase  mb-0">CONTADOR PAQUETES</h5>
                                <span id="contador-paquetes" class="d-none h2 font-weight-bold mb-0">0</span>
                                <span id="sumador-pares-paquete" class="h2 contador-paquetes text-success">0</span>
                                <span id="separador-paquetes" class="h2 contador-paquetes text-success">/</span>
                                <span id="pares-por-paquete" class="h2 contador-paquetes text-success">{{Puesto.ContadorPaquetes}}</span>
                            </div>
                            <div id="btn-config-contador-paquetes" class="col-auto" data-toggle="modal"
                                data-target="#modalConfigurarSetPaquete">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-box-open"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <a id="btn-normalizar-paquetes" class="btn-floating btn-lg {{#if Puesto.EsContadorPaquetesAutomatico}} btn-light disabled aria-disabled="true" {{else}} btn-default {{/if}}"  role="button"><i class="fas fa-sync"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>