<div class="aside-left toggle rgba-blue-strong">
    <a class="btn-aside btn-aside-left" href="#"><i class="fas fa-clipboard-list"></i></a>
    <div class="row">
        <div class="col-md-12">
            <div class="treeview-animated w-400 border border-secondary mx-4 my-4">
                <ul id="lista-tareas" class="treeview-animated-list mb-3">



                </ul>
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>