
<div class="aside-bottom toggle rgba-blue-strong">
    <a class="btn-aside btn-aside-bottom" href="#"><i class="fas fa-history"></i></a>

    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                <li>
                    <i class="fas fa-user"></i>
                    <a target="_blank" href="#">SALE: OSCAR MARTINEZ</a>
                    <a href="#" class="float-right">hace 10 minutos</a>

                </li>
                <li>
                    <i class="fas fa-clipboard-list"></i>
                    <a href="#">FICHA: FA. ATLAS-SCHUHFABRIK GMBH &amp; CO.KG. OF038650 8190p.</a>
                    <a href="#" class="float-right">hace 1 hora</a>
                </li>
                <li>
                    <i class="fas fa-clipboard-list"></i>
                    <a href="#">FICHA: FLUCHOS SLU OF041800 900.</a>
                    <a href="#" class="float-right">hace 1 hora</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#">ENTRA: OSCAR MARTINEZ</a>
                    <a href="#" class="float-right">hace 4 horas</a>

                </li>
            </ul>
        </div>

    </div>
</div>