<div class="aside-left toggle rgba-blue-strong">
    <a class="btn-aside btn-aside-left" href="#"><i class="fas fa-clipboard-list"></i></a>
    <div class="row">
        <div class="col-md-12">
            <div class="treeview-colorful w-90 border border-secondary mx-4 my-12">
                <h6 class="pt-3 pl-3">Tareas</h6>
                <hr>
                <ul class="treeview-colorful-list mb-3">
                    <li class="treeview-colorful-items">
                        <a class="treeview-colorful-items-header">
                            <i class="fas fa-plus-circle"></i>
                            <span><i class="far fa-bell ic-w mx-1"></i>TAREA 1</span>
                        </a>
                        <ul class="nested">
                            <li>
                                <div class="treeview-colorful-element"><i class="far fa-address-book ic-w mr-1"></i>FA.
                                    ATLAS-SCHUHFABRIK GMBH &amp; CO.KG.
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i
                                        class="far fa-address-book ic-w mr-1"></i>OF038650
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i
                                        class="far fa-address-book ic-w mr-1"></i>GELSHOLE VERPACKT MICROTEX TABACO
                                    36/48
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i class="fas fa-tools ic-w mr-1"></i>TM0277
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i class="fas fa-shoe-prints ic-w mr-1"></i>8190
                                    p.
                            </li>
                        </ul>
                    </li>

                    <li class="treeview-colorful-items">
                        <a class="treeview-colorful-items-header">
                            <i class="fas fa-plus-circle"></i>
                            <span><i class="far fa-bell ic-w mx-1"></i>TAREA 2</span>
                        </a>
                        <ul class="nested">
                            <li>
                                <div class="treeview-colorful-element"><i
                                        class="far fa-address-book ic-w mr-1"></i>FLUCHOS SLU
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i
                                        class="far fa-address-book ic-w mr-1"></i>OF041800
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i
                                        class="far fa-address-book ic-w mr-1"></i>DANIEL ARNEDRY MARINO 39/46
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i class="fas fa-tools ic-w mr-1"></i>TM0290
                            </li>
                            <li>
                                <div class="treeview-colorful-element"><i class="fas fa-shoe-prints ic-w mr-1"></i>900
                                    p.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>