<p>Sección:
    <select  class="form-control">
        <option>CORTE AUTOMÁTICO</option>
        <option>TERMOCONFORMADO</option>
        <option>PEGADO</option>
        <option>RETROQUELADO</option>
        <option>ALMACÉN</option>
    </select></p>
<p>Máquina:
    <select  class="form-control">
        <option>CORTADORA 2</option>
        <option>CORTADORA 1</option>
        <option>CORTADORA 3</option>
    </select>
</p>