<li class="step">
    <div class="step-title waves-effect waves-dark">Paso 4 - Guardar</div>
    <div class="step-new-content">
        Configuración finalizada
        <div class="step-actions">
            <button class="waves-effect waves-dark btn btn-sm btn-primary m-0 mt-4" type="submit">ENVIAR</button>
        </div>
    </div>
</li>