<style>
    .matrix {
        margin: 0 auto;
        padding: 5px;
    }

    .matrix tr,
    td {
        padding: 5px;
    }

    .matrix .card {
        width: 350px;
        height: 350px;
        font-family: helvetica;
        font-weight: bold;
    }

    .good-review-score {
        background-color: #66CC33;
        color: white;
        text-align: center;
        padding: 10px;
        margin-right: 5px
    }

    #input-incidencia {
        text-transform: uppercase;
    }
</style>
<li class="step">
    <div data-step-label="Configuración incidencias" class="step-title waves-effect waves-dark">Paso 5 - Incidencias
    </div>
    <div class="step-new-content">
        <div class="row">
            <div class="col-md-2"><span>Añadir nueva</span></div>
            <div class="col-md-4"><input class="use-keyboard-input" id="input-incidencia" type="text" /></div>
            <div class="col-md-6"><a id="btn-add-incidencia" class="btn btn-md btn-success"><i
                        class="fas fa-plus"></i></a></div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <table id="tabla-incidencias" class="matrix">

                </table>
            </div>
        </div>
        <div id="body-pins">

        </div>
        <div class="step-actions">
            <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">SIGUIENTE</button>
            <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">ATRÁS</button>
        </div>
    </div>
</li>