<li class="step active">
  <div data-step-label="General" class="step-title waves-effect waves-dark">Paso 0 - General</div>
  <div id="step-1" class="step-new-content">

    <div class="row">
      <div class="col-md-4">
          <span>Copiar configuración previa</span>
      </div>
      <div class="col-md-8">
          <select></select>
      </div>
    </div>
        <div class="row">
      <div class="col-md-4">
          <span>Observaciones</span>
      </div>
      <div class="col-md-8">
          <input class="use-keyboard-input" type="text"/>
      </div>
    </div>


    <div id="body-step-0">

    </div>

    <div class="step-actions">
      <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">SIGUIENTE</button>
    </div>
  </div>
</li>