    /* PANEL CENTRAL */
    #panel-central {
        position: fixed;
        top: 70px;
        left: 103px;
        width: 820px;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }

    .icon i {
        font-size: 2.25rem;
    }

    .icon-shape {
        display: inline-flex;
        padding: 12px;
        text-align: center;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .icon-shape i {
        font-size: 1.25rem;
    }

    .btn-aside {
        position: relative;
        color: black;
        font-size: 35px;
    }

    .card {}

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
    }
    /* PANEL CENTRAL */