<link rel="stylesheet" href="/css/fichajes/main.css">
<div class="row ">
    <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="calculator">
            <div class="input" id="input-operario"></div>
            <table id="matrix">
                <tr>
                    <td>
                        <button class="btn btn-primary tecla">1</button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            2
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            3
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary tecla">
                            4
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            5
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            6
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary tecla">
                            7
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            8
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            9
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="btn-entrar" class="btn btn-success">
                            &gt;
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary tecla">
                            0
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger clear tecla">
                            &lt;
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="table-responsive lista">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="/js/fichajes/main.js"></script>